footer {
  text-align: right;
  margin-top: -30px;
  margin-right: 20px;
  font-size: 15px;
}

@media screen and (max-width: 624px) {
  footer {
    text-align: center;
    margin-right: 0px;
    font-size: 12px;
  }
}